
<body>
    <canvas class="webgl"></canvas>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Add Block Here</h5>
        <ul>
          <li>
            <a class="addCube card-link">Add Cuboid</a>
          </li>
          <li>
            <a class="addCircle card-link">Add Circle</a>
          </li>
          <li>
            <a class="addTemp1 card-link">Template 1</a>
          </li>
          <li>
            <a class="addTemp2 card-link">Template 2</a>
          </li>
          <li>
            <a class="addTemp3 card-link">Template 3</a>
          </li>
          <li>
            <a class="addTemp4 card-link">Template 4</a>
          </li>
          <li>
            <a class="addTemp5 card-link">Template 5</a>
          </li>
          <li>
            <a class="addTemp6 card-link">Template 6</a>
          </li>
          <li>
            <a class="addTemp7 card-link">Template 7</a>
          </li>
          
        </ul>
        <input name="color" class="compColor mt-2" type="text" placeholder="Enter Name">
      </div>
    </div>
</body>